<%= form_with(model: park, local: false) do |form| %>
  <div class="modal-body">
    <ul class="errors">
    </ul>

  
<div class="row">

  <div class="col-md-12 form-group">
    <%= form.label :name, "Nom", class: "required" %>
    <%= form.text_field :name, class: "form-control", placeholder: "Nom", required: true %>
  </div>

  

  <div class="col-md-6 form-group">
    <%= form.label :address, "Adresse" %>
    <%= form.text_field :address, class: "form-control",  placeholder: "Adresse" %>
  </div>

  <div class="col-md-6 form-group">
    <%= form.label :capacity , "Capacité" %>
    <%= form.number_field :capacity, class: "form-control" %>
  </div>

  <div class="col-md-6">
    <div class="form-group">
      <%= form.label :country, "Pays" %>
      <%= form.text_field :country, class: "form-control",  placeholder: "Pays" %>
    </div>
  </div>

  <div class="col-md-6">
    <div class="form-group">
      <%= form.label :city, "Ville" %>
      <%= form.text_field :city, class: "form-control",  placeholder: "Ville" %>
    </div>
  </div>

  <div class="col-md-12 form-group">
    <%= form.label :manager, "Gérant" %>
    <%= form.text_field :manager, class: "form-control", placeholder: "Gérant" %>
  </div>
</div>
  

  </div><!-- modal body -->
  <div class="modal-footer">
    <%= link_to "Annuler", "#", class: "btn btn-secondary tx-mont tx-medium tx-11 tx-uppercase pd-y-12 pd-x-25 tx-spacing-1", data: {dismiss: "modal"} %>
    <%= form.submit "Enregistrer", class: "btn btn-primary tx-mont tx-medium tx-11 tx-uppercase pd-y-12 pd-x-25 tx-spacing-1",  "data-loading-text"=>"Loading...", autocomplete: "off" %>
  </div>
<% end %>
