<p id="notice"><%= notice %></p>

<p>
  <strong>Uid:</strong>
  <%= @invoice.uid %>
</p>

<p>
  <strong>User:</strong>
  <%= @invoice.user_id %>
</p>

<%= link_to 'Edit', edit_invoice_path(@invoice) %> |
<%= link_to 'Back', invoices_path %>
