<p id="notice"><%= notice %></p>

<p>
  <strong>Uid:</strong>
  <%= @customer.uid %>
</p>

<p>
  <strong>Customer type:</strong>
  <%= @customer.customer_type %>
</p>

<p>
  <strong>Company name:</strong>
  <%= @customer.company_name %>
</p>

<p>
  <strong>Firt name:</strong>
  <%= @customer.firt_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @customer.last_name %>
</p>

<p>
  <strong>Civility:</strong>
  <%= @customer.civility %>
</p>

<p>
  <strong>Address:</strong>
  <%= @customer.address %>
</p>

<p>
  <strong>Contry:</strong>
  <%= @customer.contry %>
</p>

<p>
  <strong>City:</strong>
  <%= @customer.city %>
</p>

<p>
  <strong>Locality:</strong>
  <%= @customer.locality %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @customer.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @customer.email %>
</p>

<p>
  <strong>Status:</strong>
  <%= @customer.status %>
</p>

<p>
  <strong>Description:</strong>
  <%= @customer.description %>
</p>

<p>
  <strong>User:</strong>
  <%= @customer.user_id %>
</p>

<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>
