<p id="notice"><%= notice %></p>

<p>
  <strong>Uid:</strong>
  <%= @rental.uid %>
</p>

<p>
  <strong>Booking:</strong>
  <%= @rental.booking_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @rental.user_id %>
</p>

<%= link_to 'Edit', edit_rental_path(@rental) %> |
<%= link_to 'Back', rentals_path %>
