<%= form_with(model: rental_item) do |form| %>
  <% if rental_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(rental_item.errors.count, "error") %> prohibited this rental_item from being saved:</h2>

      <ul>
        <% rental_item.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :uid %>
    <%= form.text_field :uid %>
  </div>

  <div class="field">
    <%= form.label :rental_id %>
    <%= form.text_field :rental_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
