<p id="notice"><%= notice %></p>

<h1>Rental Items</h1>

<table>
  <thead>
    <tr>
      <th>Uid</th>
      <th>Rental</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rental_items.each do |rental_item| %>
      <tr>
        <td><%= rental_item.uid %></td>
        <td><%= rental_item.rental_id %></td>
        <td><%= link_to 'Show', rental_item %></td>
        <td><%= link_to 'Edit', edit_rental_item_path(rental_item) %></td>
        <td><%= link_to 'Destroy', rental_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Rental Item', new_rental_item_path %>
