<p id="notice"><%= notice %></p>

<p>
  <strong>Uid:</strong>
  <%= @rental_item.uid %>
</p>

<p>
  <strong>Rental:</strong>
  <%= @rental_item.rental_id %>
</p>

<%= link_to 'Edit', edit_rental_item_path(@rental_item) %> |
<%= link_to 'Back', rental_items_path %>
