<p id="notice"><%= notice %></p>

<p>
  <strong>Uid:</strong>
  <%= @driver.uid %>
</p>

<p>
  <strong>First name:</strong>
  <%= @driver.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @driver.last_name %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @driver.gender %>
</p>

<p>
  <strong>Status:</strong>
  <%= @driver.status %>
</p>

<p>
  <strong>User:</strong>
  <%= @driver.user_id %>
</p>

<%= link_to 'Edit', edit_driver_path(@driver) %> |
<%= link_to 'Back', drivers_path %>
